@using Volo.Abp.UI.Navigation

@if (Menu != null)
{
    var elementId = Menu.ElementId ?? "MenuItem_" + Menu.Name.Replace(".", "_");
    var url = Menu.Url == null ? "#" : Menu.Url.TrimStart('/', '~');

    if (Menu.IsLeaf && Menu.Url != null)
    {
        <MenuItem Key="@elementId" RouterLink="@url" Disabled="@Menu.IsDisabled">
            @if (Menu.Icon != null)
            {
                <Icon Type="@Menu.Icon" Theme="outline"></Icon>
            }
            <span>@Menu.Name</span>
        </MenuItem>
    }
    else
    {
        <SubMenu Title="@Menu.Name" TitleTemplate="@GetSubMenuTemplate()" Key="@elementId">
            @foreach (var menuItem in Menu.Items)
            {
                <MainMenuItem Menu="@menuItem"></MainMenuItem>
            }
        </SubMenu>
    }
}
